:host {
  display: flex;
  .card {
    // margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.2s;
  }

  .mat-button-toggle-group {
    border: none;
    border-radius: 0;
  }

  .title {
    font-size: 24px;
    color: #2196f3;
    font-weight: bold;
  }

  .toggle-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    @media (max-width: 768px) {
      width: 70vw;
    }
  }

  .button {
    border-radius: 12px !important;
    padding: 10px 20px;
    background-color: #e3f2fd;

    &:hover {
      background-color: #90caf9 !important;
      transform: scale(1.02);
    }
  }
}
