<mat-card>
  <h2>Brawo! Sprawdźmy jak Ci poszło!</h2>
  <div class="mat-h2 stat-row d-flex justify-center align-center">
    <mat-icon>check_circle</mat-icon>&nbsp;
    <span class="success-rate">Dobre odpowiedzi: {{ correctCount }}</span>
  </div>
  <div class="mat-h2 stat-row d-flex justify-center align-center">
    <mat-icon>error</mat-icon>&nbsp;
    <span class="error-count">Do poprawy: {{ errorCount }}</span>
  </div>
  <div class="mat-h2 stat-row d-flex justify-center align-center">
    <mat-icon>equalizer</mat-icon>&nbsp;
    <span>Wszystkie zadania: {{ totalCount }}</span>
  </div>
  <div class="mat-h2 stat-row d-flex justify-center align-center">
    <mat-icon>star</mat-icon>&nbsp;
    <span>Twój wynik: {{ successRate | number : "1.0-0" }}%</span>
  </div>
</mat-card>
