<mat-progress-bar
  mode="determinate"
  [value]="excerciseStore.excerciseProgress()"
></mat-progress-bar>

@if(!excerciseStore.isFinished()){
<div class="math-problem d-flex align-center justify-between">
  <span class="number">{{ excerciseStore.currentFirstValue() }}</span>
  <span class="operator">{{ excerciseStore.currentOperationSymbol() }}</span>
  <span class="number">{{ excerciseStore.currentSecondValue() }}</span>
  <span class="equals">=</span>
  <input
    #inputRef
    type="number"
    class="result-input"
    [class.correct]="excerciseStore.currentExcerciseResultCorrect()"
    [class.incorrect]="excerciseStore.currentExcerciseResultIncorrect()"
    [formControl]="formControl"
    (keyup.enter)="inputRef.blur(); checkAnswer()"
  />
</div>
} @if(excerciseStore.isFinished()){
<app-excercises-summary
  [errorCount]="excerciseStore.errorCount()"
  [correctCount]="excerciseStore.correctCount()"
></app-excercises-summary>
} @if(excerciseStore.isFinished()){
<button
  mat-flat-button
  color="tertiary"
  class="continue-button"
  [routerLink]="['/']"
>
  Zacznij od nowa
</button>
} @if (!excerciseStore.isCurrentAnswered() && !excerciseStore.isFinished()) {
<button
  mat-flat-button
  class="check-button"
  [class.correct]="excerciseStatus === excerciseStatuses.Correct"
  [class.incorrect]="excerciseStatus === excerciseStatuses.Incorrect"
  [disabled]="formControl.pristine"
  (click)="checkAnswer()"
>
  Sprawdź wynik
</button>
} @if(excerciseStore.isCurrentAnswered()) {
<app-excerise-status
  [excercise]="excerciseStore.currentExcercise().excercise"
  [userResult]="excerciseStore.currentExcerciseUserResult()!"
  [correctAnswer]="excerciseStore.correctResult()"
></app-excerise-status
>} @if(excerciseStore.isCurrentAnswered() ) {
<button
  mat-flat-button
  color="tertiary"
  class="continue-button"
  (click)="nextExercise()"
>
  Kontynuuj
</button>
}
