:host {
  width: 100%;
}
.answer-selector {
  display: flex;
  gap: 10px;
}

.answer-button {
  flex: 1;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: "Comic Neue", sans-serif;
  font-weight: 600;

  &.selected {
    color: var(--app-red);
    border: 4px solid var(--app-red);
    &.correct {
      border-color: var(--app-green);
      color: var(--app-green);
    }
  }
}
