@use "@angular/material" as mat;
@use "_flex";
@use "_fonts.scss";
@use "_colors.scss";
@use "_rwd.scss";

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$green-palette,
    ),
    typography: (
      plain-family: Comic Neue,
      brand-family: Comic Neue,
      bold-weight: 900,
      medium-weight: 700,
      regular-weight: 300,
    ),
    density: (
      scale: -2,
    ),
  )
);

body {
  @include mat.core();
  @include mat.all-component-themes($theme);

  @include mat.button-overrides(
    (
      filled-container-height: 3.5rem,
      filled-label-text-size: 2.5rem,
    )
  );

  @include mat.button-toggle-overrides(
    (
      label-text-size: 1.8rem,
    )
  );
  @include mat.menu-overrides(
    (
      item-label-text-color: orange,
      item-icon-color: red,
    )
  );
}

html {
  height: 100%;
  height: -webkit-fill-available;
}
body,
app-root {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  margin: 0;
  position: fixed;
  width: 100%;
  overflow-y: auto;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
