:host {
  display: block;
}

.stat-row {
  padding: 5px 0;
}

mat-card {
  display: flex;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
  justify-content: center;
  margin: 16px;
  .image {
    max-width: 100%;
    height: auto;
    max-height: 40vh;
    object-fit: contain;
    @media screen and (orientation: portrait) and (max-width: 768px) {
      max-width: 60vw;
    }
  }
  background-color: #f9fbe7;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-icon {
  color: var(--app-green);
}

.success-rate {
  color: var(--app-green);
}

.error-count {
  color: --var(--app-red);
}

.continue-button {
  height: 46px;
  margin-top: 20px;
}
