<mat-card>
  <img
    src="assets/images/happy-puppy.png"
    alt="Happy puppy image"
    class="image"
  />
  <div class="d-flex flex-column align-center justify-between">
    <div class="header-2">{{ "exercises_summary_title" | translate }}</div>
    <div class="header-3 stat-row d-flex justify-center align-center">
      <mat-icon>check_circle</mat-icon>&nbsp;
      <span class="success-rate"
        >{{ "correct_count" | translate }}: {{ correctCount }}</span
      >
    </div>
    <div class="header-3 stat-row d-flex justify-center align-center">
      <mat-icon>error</mat-icon>&nbsp;
      <span class="error-count"
        >{{ "errors_count" | translate }}: {{ errorCount }}</span
      >
    </div>
    <div class="header-3 stat-row d-flex justify-center align-center">
      <mat-icon>equalizer</mat-icon>&nbsp;
      <span>{{ "exercises_count" | translate }}: {{ totalCount }}</span>
    </div>
    <div class="header-3 stat-row d-flex justify-center align-center">
      <mat-icon>star</mat-icon>&nbsp;
      <span
        >{{ "you_get" | translate }}: {{ currentScore | number : "1.0-0" }}
        {{ "points" | translate }}</span
      >
    </div>
    <button
      mat-flat-button
      color="tertiary"
      class="continue-button"
      [routerLink]="['/']"
    >
      {{ "start_over" | translate }}
    </button>
  </div>
</mat-card>
