@if(!excerciseStore.isFinished()) {
<div class="progress-container w-100">
  <span class="progress-emoji">🚀</span>
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="excerciseStore.exerciseProgress()"
  ></mat-progress-bar>
  <span class="progress-emoji">🎯</span>
</div>
} @if(!excerciseStore.isFinished()){
<div
  class="math-problem paragraph-1 d-flex flex-column align-center justify-between"
>
  @if(!excerciseStore.isCurrentAnswered()){ @if(excerciseStore.isBinary()){
  <div class="select-answer-label header-2">
    {{ "select_answer" | translate }}
  </div>
  } @else {
  <img
    class="image"
    [src]="getExerciseImage(excerciseStore.exerciseObject())"
    alt="Word task image"
  />
  } }
  <div [class.paragraph-ultra-large]="excerciseStore.isBinary()">
    {{ excerciseStore.currentExercise().toString() }}
  </div>
</div>
<app-answer-selector
  [correctAnswer]="
    excerciseStore.currentExercise().exerciseDefinition.evaluate()
  "
  [disabled]="excerciseStore.isCurrentAnswered()"
  (selectedAnswer)="excerciseStore.setAnswer($event)"
></app-answer-selector>
} @if(excerciseStore.isCurrentAnswered()) {
<app-excerise-status
  [excercise]="excerciseStore.currentExercise().exerciseDefinition"
  [userResult]="excerciseStore.currentExercise().userResult!"
  [correctAnswer]="excerciseStore.correctResult()"
  [explanation]="
    excerciseStore.currentExercise().exerciseDefinition.renderStepsAsHtml()
  "
></app-excerise-status>
<button
  mat-flat-button
  color="tertiary"
  class="continue-button w-100"
  (click)="nextExercise()"
>
  {{ "continue" | translate }}
</button>
} @if(excerciseStore.isFinished()){
<app-exercises-summary
  [errorCount]="excerciseStore.errorCount()"
  [correctCount]="excerciseStore.correctCount()"
  [currentScore]="excerciseStore.currentExerciseSetScore()"
></app-exercises-summary>
}
