<mat-card class="card w-100">
  <mat-card-header>
    <mat-card-title class="title">{{ labelKey | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-button-toggle-group
      [formControl]="formControl"
      class="toggle-group d-flex flex-wrap justify-center"
    >
      @for(option of options; track option) {
      <mat-button-toggle [value]="option.value" class="button">
        {{ option.labelKey | translate }} </mat-button-toggle
      >}
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
