<div class="quiz-container">
  <div class="progress-bar">
    @for (i of [].constructor(10); track i; let idx = $index) {
      <span
        [ngClass]="{
          good: results[idx] === 'correct',
          bad: results[idx] === 'wrong',
          empty: results[idx] !== 'correct' && results[idx] !== 'wrong'
        }"
        >●</span
        >
      }
      <app-clock [hour]="hour" [minutes]="minutes"></app-clock>
    </div>
  </div>
  <br />
  <div class="buttons-container">
    <div class="answers">
      @for (answer of answers; track answer) {
        <button
      [ngClass]="{
        correct: selectedAnswer && isCorrect(answer),
        wrong: selectedAnswer && selectedAnswer === answer && !isCorrect(answer)
      }"
          (click)="chooseAnswer(answer)"
          [disabled]="selectedAnswer !== null"
          >
          {{ answer }}
        </button>
      }
    </div>

    <div class="next">
      <button
        [class.disabled]="!selectedAnswer"
        (click)="generateQuestion(difficultyLevel)"
        >
        🎯 Kolejne pytanie
      </button>
    </div>
  </div>

  @if (showConfetti) {
    <div class="confetti">🎉 🎊 🎉 🎊 🎉</div>
  }
