<form [formGroup]="form" class="container d-flex flex-column align-center">
  <mat-card class="card w-100">
    @switch (currentStep) { @case (0) {
    <mat-card-header>
      <mat-card-title class="title">Wybierz działanie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-button-toggle-group
        formControlName="operation"
        class="toggle-group d-flex flex-wrap justify-center"
        (change)="handleSelectionAndProgress()"
      >
        @for(item of operations; track item){
        <mat-button-toggle [value]="item.value" class="button">
          {{ item.label }}
        </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </mat-card-content>
    } @case (1) {
    <mat-card-header>
      <mat-card-title class="title">Wybierz poziom trudności</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-button-toggle-group
        formControlName="difficultyLevel"
        class="toggle-group d-flex flex-wrap justify-center"
        (change)="handleSelectionAndProgress()"
      >
        @for(item of difficultyLevels; track item){
        <mat-button-toggle [value]="item.value" class="button">
          <span class="body-2">{{ item.label }}</span>
        </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </mat-card-content>
    } @case (2) {
    <mat-card-header>
      <mat-card-title class="title">Wybierz rodzaj zadań</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-button-toggle-group
        formControlName="exerciseType"
        class="toggle-group d-flex flex-wrap justify-center"
      >
        <mat-button-toggle
          [value]="exerciseTypes[0].value"
          (click)="startArithmeticExercises()"
          class="button"
        >
          {{ exerciseTypes[0].label }}
        </mat-button-toggle>
        @if(isSubtraction){
        <mat-button-toggle
          [value]="exerciseTypes[1].value"
          (click)="startWordExercises()"
          class="button"
        >
          {{ exerciseTypes[1].label }}
        </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </mat-card-content>
    } }
  </mat-card>
</form>
