<mat-toolbar
  color="primary"
  class="d-flex justify-content-between mat-toolbar"
  style="border-radius: 0 0 15px 15px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2)"
>
  <button
    mat-icon-button
    [routerLink]="['/home/dashboard']"
    style="color: #fff"
  >
    <mat-icon>home</mat-icon>
  </button>

  <span style="font-size: 1.5em; font-weight: bold; color: #fff">{{
    "header_title" | translate : { userName: userName }
  }}</span>

  <span class="expander"></span>

  <button mat-button class="language-button" [matMenuTriggerFor]="langMenu">
    {{ selectedLang === "pl" ? "🇵🇱" : "🇬🇧" }}
  </button>
  <mat-menu #langMenu="matMenu">
    <button class="language-button" mat-menu-item (click)="onLangChange('pl')">
      <span class="language-item">🇵🇱 {{ "language_polish" | translate }}</span>
    </button>
    <button class="language-button" mat-menu-item (click)="onLangChange('en')">
      <span class="language-item">🇬🇧 {{ "language_english" | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
