.mat-toolbar {
  padding: 8px 16px;
  min-height: 70px;
  height: 70px;
}

.language-button,
.language-item {
  font-size: 28px;
}

.version-info {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  padding: 8px 16px;
  pointer-events: none;
}
